
<h1>Google Instant Hangouts Demo</h1>
<div class='panel'> 
	<p>Hangout Air </p>
	<%= instant_hangout hangout_type: :onair %>
</div>

<div class='panel'>  <p>General Hangout </p>
	<%= instant_hangout widget_size: 175  %>
</div>

